
section{
    height: 1000px;
}
#MainPic{
    background-image: url('../Images/homepic.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-title{

}

#phone-app{

}
