body{
    background: #FDFBF7;
}
section{
    height: 1000px;
}
#MainPic{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
