* {
    box-sizing: border-box;
}
body {
   margin: 0;
    min-height: 100vh;
    background-image: url('../Images/MenuBG.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    padding-top: 1px;
}

.Filter-container {
    display: flex;
    gap: 12px;
    margin-left: 10px;
}

.Filter-container button {
    padding: 15px;
    border: 1px solid #2C1E16;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;

}

.Filter-container button:hover {
    background: #2C1E16;
    color: #e9e7e7;
    transition: all 0.3s ease;
}

#items {
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
}

.cards {
    width: 25%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #2C1E16;
    color: #fff;
    font-size: 25px;
    border-radius: 15px;
    direction: rtl;
    margin: 25px;
}

.cards h3 {
    margin-top: 15px;


}

.cards ul {
    list-style: none;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;
}

.cards ul li{
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 7px 25px;
    margin: 5PX;
}

#desserts ul li{
    padding: 0px 25px;
    margin: auto;
}

.item-price{
    font-weight: bold;
}